<!DOCTYPE html>
<html lang="ja">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width,initial-scale=1.0,maximum-scale=1.0,minimum-scale=1.0">
  <title>ながら測定器</title>
  <link rel='stylesheet' href='static/css/style.css'>
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.12.4/jquery.min.js"></script>
  <script type="text/javascript" src="static/js/main.js"></script>
  <!--<script src="https://aframe.io/releases/latest/aframe.min.js"></script>-->
  <script src="https://cdnjs.cloudflare.com/ajax/libs/Chart.js/2.7.1/Chart.min.js"></script>
</head>
  <div class="main">
    <div class="contents">
      <div class="tab_wrap">
        <ul class="tab_area">
          <li class="active">2分間隔のカロリー</li>
          <li>1日の累積カロリー</li>
        </ul>
        <ul class="panel_area">
          <li class="panel active">
            <canvas id="FiftChart" width='100%' height='23px'></canvas>
            <script>
              // Pythonからのデータを受け取る
              var caloriePerFift = {{ calorieperfift|tojson }}
              // データをグラフ用に整形
              var times = []
              var tCalories = []

              // jsonの中身確認
              //var str = JSON.stringify({{ caloriePerFift }})
              //$("body").append(str)
              
              for(k in caloriePerFift){
                t = k.split("-")[1]
                times.push(t)
                tCalories.push(caloriePerFift[k])
              }
    
              var ctx = document.getElementById("FiftChart").getContext('2d');
              var FiftChart = new Chart(ctx, {
                  type: 'line',
                  data: {
                    labels: times,
                    datasets: [
                    {
                      label: "消費カロリー",
                      borderColor: 'rgb(255, 0, 0)',
                      data: tCalories,
                    }
                    ]
                },
                options: {
                    responsive: true
                }
              });
    
              FiftChart.render();
            </script>
          </li>
          <li class="panel">
            <canvas id="DayChart" width='100%' height='23px'></canvas>
            <script>
              // Pythonからのデータを受け取る
              var caloriePerDay = {{ calorieperday|tojson }}
              // データをグラフ用に整形
              var dates = []
              var dCalories = []
              for(k in caloriePerDay){
                dates.push(k)
                dCalories.push(caloriePerDay[k]/1000) // ここでキロに変換
              }
              var targetData = (new Array(dates.length)).fill(2000)
    
              var ctx = document.getElementById("DayChart").getContext('2d');
              var DayChart = new Chart(ctx, {
                  type: 'line',
                  data: {
                    labels: dates,
                      datasets: [
                      {
                        label: "消費カロリー",
                        borderColor: 'rgb(255, 0, 0)',
                        data: dCalories,
                      },
    
                      {
                        label: "目標消費カロリー",
                        lineTension: 0,
                        fill: false,
                        borderColor: 'rgb(0, 0, 255)',
                        data: targetData,
                        borderDash:[5,5],
                      }
                      ]
                  },
                  options: {
                      responsive: true
                  }
                });
              DayChart.renser()
            </script>
          </li>
        </ul>
      </div>

      <div class="calorieTable">
        <table border="1" width="100%" style="margin:0;">
          <tr>
            <th width=20%><p>あなたの歩数(差分)</p></th>
            <th width=20%><p>消費カロリー</p></th>
            <th width=20%><p>残りカロリー(目標300[cal])</p></th>
            <th width=20%><p>運動強度</p></th>
            <th width=20%><p>所要時間</p></th>
          </tr>
          <tr>
            <td align="center">
              <form>
                <input type="text" id="textForm">
                <button id="button">更新</button>
              </form>
            </td>
            <td align="center"><p id="curr">0 [cal]</p></td>
            <td align="center"><p id="rest">0 [cal]</p></td>
            <td align="center"><p id="exercise">{{ exerciseRank }}</p></td>
            <td align="center"><p>40秒 (固定)</p></td>
          </tr>
        </table>
      </div>
      
      <div class="link campaign">
        <a href="../static/html/movie1.html" id="anchor1"><b>運動を開始する</b></a>
      </div>
      
      <script>
      var button = document.getElementById("button");
      button.addEventListener("click", function(e) {
        e.preventDefault();
        var textForm = document.getElementById("textForm").value;
        var currCal = getCalorie(textForm)
        var rest = 300 - currCal

        document.getElementById("rest").textContent= rest+" [cal]";
        document.getElementById("curr").textContent= currCal+" [cal]"
        if (rest <= 0){
          document.getElementById("exercise").textContent = "達成済み";
          $("#anchor1").attr("href","../static/html/movie3.html")
        }else if (rest < 130) {
          document.getElementById("exercise").textContent = "弱";
          $("#anchor1").attr("href","../static/html/movie1.html")
        } else if(rest < 200) {
          document.getElementById("exercise").textContent = "中";
          $("#anchor1").attr("href","../static/html/movie2.html")
        } else {
          document.getElementById("exercise").textContent = "強";
          $("#anchor1").attr("href","../static/html/movie3.html")
        }
        
      })
        
      </script>
     
  </div>
</body>
</html>
